@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap');

/*resetei o html, porque os navegadores vem*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: #1c1c1c;
}


h1, h2, h3{
    font-family: "Asap", sans-serif;
    color: #000000;
}

/*inicio da navegação no menu principal*/
.logo {
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    font-family: "Yellowtail", sans-serif;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 4px;
    margin-left: 50px;
    
}

.container{
    display: flex;
    justify-content: space-between;

}

.item{
    display: flex;
    justify-content: space-around;
}

nav {
    /* display: flex;
    flex-direction: row;
    justify-content:  ;
    align-items: center; */
    background-color: #191970;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none; /*retira os marcadores*/
    padding: 0;
    /* width: 100%; */
}

nav ul li {
    text-align: center;
    /* width: 100%; */
    padding: 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    /* width: 100%; */
    text-decoration: none;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: "Yellowtail", sans-serif;
}

nav ul li a:hover {
    background-color: black;
    cursor: pointer;
    transition: .4s;
}


/*inicio do cabeçalho*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Img/camera.jpg");
    background-size: cover;/*irá cobrir todo espaço*/
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header p {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
}

header .botao {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}
/*fechamento do cabeçalho*/

/*inicio da seção sobre*/
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

.sobre h2{
    color: #ffffff;
    
}

.sobre p {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 1000px;
    text-align: justify;
}

.sobre .botao {
    background-color: #f1f1f1;
    color: #c1c1c1;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
}
/*fechamento da seção sobre*/

/*inicio da seção serviços*/

.servicos{
    margin: 30px;
    display: flex;
    justify-content: center;
}

#servicos-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px 50px;   
}

.pos-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

#servicos-style p {
    text-align: justify;
}


/*fechameno da seção serviços*/

/*inicio da seção fotos*/
.fotos h2{
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.fotos img{
    max-width: 100%;
    border-radius: 5px;
}

.fotos {
    /* width: 100%; */
    background-color: #191970;
}


#fotos-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 15px;
    padding:  20px 50px;
}
/*fechamento da seçao fotos*/

/*inicio contatos*/
#contatos-styles {
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

#contatos-styles div {
    margin: 20px;
}

/*inicio da seção rodapé*/
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

#footer-style {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}


#footer-style .icons{
    font-size: 25px;
}

#footer-style .icons a{
    margin: 0 15px;
}
/*fechameno da seção rodapé*/

* {
    scroll-behavior: smooth;
}

#btn-back-to-top {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    *border-radius: 2rem;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    background-color: aquamarine;
}

#btn-back-to-top::after {
    content: '\1F815';
    font-size: 1.7rem;
}

/*início da responsividade*/